ignorado.txt
no-subir-spereira.txt
ignorar_cesagonzalez.txt
ignore_emilio.txt
ignore_enoel.txt
Documento_confidencial.txt
ignore_emilio.txt
ersolis.txt
grupo3.txt
ElixPeralta.txt
ignorar_av.txt
ignorar_movaldes.txt
archivo_a_ignorar_apr.txt
joan-gitgnore.txt
alfonso.txt
